 
<div class="modal fade" id="generate_code">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generate Secret Codes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <div class="form-body">
          <%= form_tag secret_code_path, id: "secret_code_form", method: :post  do%>
            <div class="form-group">
              <label class="control-label">Count<span class="required"> * </span></label>
              <div class="col-md-6">
                <select id ="count" name = "count" class="form-control input-sm" >

                  <option value=10 selected="selected" >10</option>
                  <option value=1>1</option>
                  <option value=20>20</option>
                  <option value=50>50</option>
                  <option value=100>100</option>
                </select>
              </div>
            </div>
        </div>
            <div class="modal-footer">
              <div class="form-actions fluid">
                <%= button_tag "Close", data: {dismiss: "modal"}, class: "btn btn-outline-primary" %>
                <%= button_tag "Save changes", class: "btn btn-outline-success", id: "save", name: "save" %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

