<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="/">Test Application</a>
	  <a class="navbar-brand" href="/">Secret Codes</a>

	    <form class="form-inline">
	    	<% if user_signed_in? %>
	    		 
	    		 <%= link_to "Log out", destroy_user_session_path, method: :delete %>

			<% else %>
			    <a class="btn btn-outline-primary" href="/users/sign_in" role="button">
			    Login
			    </a>
	   		<div style="padding-left: 10px;">

	   			    		 <%= link_to "Sign Up", new_user_registration_path %>

			    <!-- <a class="btn btn-outline-success" href="/signup" role="button">
			      Sign Up
			    </a> -->
			
			<% end %>

		    </div>
  		</form>
	</nav>